*{
   box-sizing: border-box; 
}

body {
  margin: 0 auto; 
  color:#8f8f8f;  
  font-family: 'Merriweather', serif;
}

#signup-form {
  width: 100%;
  margin-top: 0;  
  background-color: #f9fbfc;
  padding-top: 1px;
  margin:0 auto;
}

.wrapper {
  margin: 0 15px;
}

#top-section,
#main-header {
   text-align: center; 
}

#top-section {
  border-bottom: solid 4px #042633;
}

#main-header {
  padding: 1em 40px;
  background-color: #042633;
  color: #f9fbfc;
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 1.5em;

}

#top-section h2 {  
  color: #042633;
  font-size: 19px;
  margin-bottom: 10px;
  
}

#top-section p,
#contact-information p,
#newsletter p{
  font-size: 13.5px;
}

#top-section p {
  margin-bottom: 2em;
  margin-top: 2px;
  font-size: 13.5px;
}




/**********************
Contact-information
**********************/

#contact-information {
  border-top: solid 2px #042633;
  margin-top: 3px;
  padding-top: 1.5em;
  border-bottom: solid 2px #042633;
  margin-bottom: 1.5em;
}

#contact-information label,
#contact-information input,
#ocntact-informaiton select,
#newsletter input
#newsletter textarea{
  display: inline-block;
} 

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-weight: bold;
  font-size: 20px;
  color: #042633;
  margin-bottom: 12px;
}

label {
  margin-bottom: 0.5em;
}

.input-text,
select,
textarea {
  display: inline-block;
  width: 100%;
  background-color: #d7dadb;
  height: 48px;
  border-radius: 5px;
  border-width: 3px;
  border-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

.input-text:focus,
select:focus,
textarea:focus {
  border: solid 2px #2E1F63; 
  outline: none;  
}

::-webkit-input-placeholder {
   text-align: right;
   padding-right: 10px;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: right;  
   padding-right: 10px;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: right;  
   padding-right: 10px; 
}

:-ms-input-placeholder {  
   text-align: center; 
   padding-right: 10px;  
}

#states {
   padding:3px;
   color:#8f8f8f;  
   cursor: pointer;
}

#contact-information input[id="zip-code"] {
    width: 100px;
  }

/**************************************************************************************************************************************************
Newsletter
***************************************************************************************************************************************************/

h4 {
  font-weight: normal;
}

input[type="checkbox"] + label,
input[type="radio"] + label
{
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  
}

input[type="checkbox"],
input[type="radio"]{
    height: 17px;
    width: 17px;
    cursor: pointer;
}

#newsletter fieldset + p {
  margin-bottom: 2px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label{
  font-weight: bold;
}



#other-topics {
  height: 100px;
  width: 100%;
}

input[type="submit"] {
  width: 100%;
  height: 60px;
  color: #72787A;
  background-color: #25A1A1;
  color: white;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 1em;
}

input[type="submit"]:hover {
  border-bottom: solid 3px #2E1F63;
  outline: none;
}

#copyright{
  text-align: center;
  font-size: 0.9em;
  height: 200px;
  font-style: italic;
}


/***************************************************************************
Mobile version is finished!!!
***************************************************************************/
@media(min-width:320px) {
  .wrapper {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media(min-width:768px) {
  body {
  color: #72787A;
}
 .wrapper {
   max-width: 600px;   
 }
  #top-section {
    margin-top: 4em;
    padding-bottom: 1.5em;
  }
  
  #top-section h2 {
    font-size: 2em;
  }
  
  /********************************* ***********************************
CONTACT INFORMATION  **********************************/
  #contact-information {
    padding: 3em 0;
  }
  
/*   #contact-information legend {
    margin-bottom: 
  } */
  #contact-information input:not([id="zip-code"]),
  #contact-information select {
    width: 70%;    
  }
  
  #contact-information legend {
    margin-bottom: 1em;
  }
  
  #contact-information label {
    width: 28%;
    margin-right: 1%;
    
  }
  
  label[for="zip-code"] + br {
    display: none;
  }
  
}